<div class="container">
  <br/><br/><br/>
  <div>
    <app-my-table-chart></app-my-table-chart>
  </div>
  <br/><br/><br/>
  <div>
    <app-dyn-table-chart></app-dyn-table-chart>
  <br/><br/><br/>

  <div class="container">
      <div class="col">
        <div class="card">
          <div class="card-body p-1 m-0">
            <canvas id="canvas"></canvas>
          </div>
        </div>
  </div>
  
  <br/><br/><br/>
  <app-my-doughnut-chart></app-my-doughnut-chart>
  <br/><br/><br/>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div>
  <br/><br/><br/>

  <div>
    <app-my-table></app-my-table>
  </div>
  <br/><br/><br/>
</div>

