table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.chartWrapperTd {
  width: 55%;
  height: 65%;
  padding-top: 1em;
  padding-bottom: 1em;
}